NODE_ENV=development
FACTORY_ENV=local
FACTORY_INTERNAL_TOKEN=change-me-internal
FACTORY_ADMIN_TOKEN=

SERVICE_ID=event-bus-service
SERVICE_NAME=Event Bus Service
SERVICE_DOMAIN=https://events.simorx.com
SERVICE_PORT=4111

SERVICE_REGISTRY_URL=http://localhost:4108
EVENT_BUS_URL=http://localhost:4111

MONGODB_URI=
MONGODB_DB_NAME=autonomous_os_kernel

LOG_LEVEL=info
